<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Locate Me</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>locate_me</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>

	<key>UIBackgroundModes</key>
	<string>location</string>

	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To improve your experience, this app requires access to your location while in use.</string>
	<key>NSLocationAlwaysUsageDescription</key>
    <string>This app needs access to location when in the background.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<key>LSApplicationQueriesSchemes</key>
    <array>
    <string>comgooglemaps</string>
    <string>baidumap</string>
    <string>iosamap</string>
    <string>waze</string>
    <string>yandexmaps</string>
    <string>yandexnavi</string>
    <string>citymapper</string>
    <string>mapswithme</string>
    <string>osmandmaps</string>
    <string>dgis</string>
    <string>qqmap</string>
    <string>here-location</string>
    <string>tomtomgo</string>
    <string>copilot</string>
    <string>com.sygic.aura</string>
    <string>nmap</string>
    <string>kakaomap</string>
    <string>tmap</string>
    <string>szn-mapy</string>
    </array>
	
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>CFBundleLocalizations</key>
    <array>
	<string>en</string>
	<string>nb</string> 
    </array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	 <key>MBXAccessToken</key>
                <string>sk.eyJ1Ijoibml4bmltYSIsImEiOiJjbTA1aHdxdW8waW9sMmpvajZnMmR5enp0In0.WFsm88iFwr_EZYVgynC9jg</string>
            	<key>MGLMapboxMetricsEnabledSettingShownInApp</key>
            	<string>YES</string>
            	<key>UIBackgroundModes</key>
            	<array>
            		<string>audio</string>
            		<string>location</string>
            		<string>remote-notification</string>
            	</array>

	<key>NSLocationWhenInUseUsageDescription</key>
        <string>This app uses your location to provide personalized content and services based on your current location.</string>

<key>NSPhotoLibraryUsageDescription</key>
<string>We need access to your photo library to pick images.</string>

<key>NSCameraUsageDescription</key>
<string>We need access to your camera to capture photos.</string>

<key>NSMicrophoneUsageDescription</key>
<string>We need access to your microphone for video recording.</string>


</dict>
</plist>
